#home{
    background: url(../img/home-background.jpg) no-repeat;
    background-size:cover;
    height:950px;
    padding-left: 200px;
    padding-right: 200px;
}

#heading-home {
  margin-top:320px;
  padding-left:15px;
  color:white;
}

.corpo{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px
}

.card-body{
    text-align: center;
}

.my-select{
    text-align: left;
}

.edd-root{
    width: 50%;
}

footer{
    padding-left: 200px;
    padding-right: 200px;
}